<%= form_for(@homeroom) do |f| %>
  <% if @homeroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homeroom.errors.count, "error") %> prohibited this homeroom from being saved:</h2>

      <ul>
      <% @homeroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :class %><br>
    <%= f.number_field :class %>
  </div>
  <div class="field">
    <%= f.label :mail %><br>
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label :student %><br>
    <%= f.text_field :student %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
